Lab 10 Task
Task 1: Run the following provided file
* Improve its Accuracy
* Check if there's anything else required to be done

In [6]:
import pandas as pd

In [8]:
data = pd.read_csv("D:/Downloads/Data/Data/data.csv")

In [10]:
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,313000.0,3.0,1.50,1340.0,7912.0,1.5,0.0,0.0,3,1340.0,0.0,1955.0,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2384000.0,5.0,2.50,3650.0,9050.0,2.0,0.0,4.0,5,3370.0,280.0,1921.0,0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,342000.0,3.0,2.00,1930.0,11947.0,1.0,0.0,0.0,4,1930.0,0.0,1966.0,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,420000.0,3.0,2.25,2000.0,8030.0,1.0,0.0,0.0,4,1000.0,1000.0,1963.0,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,550000.0,4.0,2.50,1940.0,10500.0,1.0,0.0,0.0,4,1140.0,800.0,1976.0,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [12]:
print("rows:",data.shape[0])
print("columns:",data.shape[1])

rows: 4600
columns: 18

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4597 non-null   float64
 2   bedrooms       4595 non-null   float64
 3   bathrooms      4598 non-null   float64
 4   sqft_living    4598 non-null   float64
 5   sqft_lot       4598 non-null   float64
 6   floors         4598 non-null   float64
 7   waterfront     4595 non-null   float64
 8   view           4598 non-null   float64
 9   condition      4600 non-null   int64
 10  sqft_above     4597 non-null   float64
 11  sqft_basement  4597 non-null   float64
 12  yr_built       4594 non-null   float64
 13  yr_renovated   4600 non-null   int64
 14  street         4597 non-null   object
 15  city           4596 non-null   object
 16  statezip       4597 non-null   object
 17  country        4594 non-null   object
dtypes: float64(11), int64(2), object(5)
memory usage: 647.0+ KB

In [49]:
data.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [51]:
def fill_values(data,colmns):
    for colmn in colmns:
        if data[colmn].dtype == object:
            data[colmn] = data[colmn].fillna(data[colmn].mode()[0])
        elif data[colmn].dtype == 'float64':
            data[colmn] = data[colmn].fillna(data[colmn].mean())
        elif data[colmn].dtype == 'int64':
            data[colmn] = data[colmn].fillna(data[colmn].mean())
colmns = ['street','city','price','bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','sqft_above','sqft_basement','yr_built','statezip','country']
fill_values(data,colmns)

In [20]:
data.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [22]:
duplicates = data.duplicated().sum()
print("No. of Duplicates:",duplicates)

No. of Duplicates: 0

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   float64
 5   sqft_lot       4600 non-null   float64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   float64
 8   view           4600 non-null   float64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   float64
 11  sqft_basement  4600 non-null   float64
 12  yr_built       4600 non-null   float64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(11), int64(2), object(5)
memory usage: 647.0+ KB

In [31]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\users\hp\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in d:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in d:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in d:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
from sklearn.preprocessing import LabelEncoder

In [39]:
def typecast(data,colmns):
    for colmn in colmns:
        if data[colmn].dtype == 'float64':
            data[colmn] = data[colmn].astype('int64')
        elif data[colmn].dtype == object:
            labelencoder = LabelEncoder()
            data[colmn] = labelencoder.fit_transform(data[colmn])
            data[colmn] = data[colmn].astype('int64')
colmns = ['date','street','city','price','bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','sqft_above','sqft_basement','yr_built','statezip','country']
typecast(data,colmns)

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   int64
 1   price          4600 non-null   int64
 2   bedrooms       4600 non-null   int64
 3   bathrooms      4600 non-null   int64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   int64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   int64
 15  city           4600 non-null   int64
 16  statezip       4600 non-null   int64
 17  country        4600 non-null   int64
dtypes: int64(18)
memory usage: 647.0 KB