Task 12 Task 
Task 1: Apply classifiers on Titanic Dataset 
(Train model on Titanic Dataset)

**Load Data**

In [5]:
import pandas as pd
import numpy as np

In [7]:
train_data = pd.read_csv("D:/Downloads/titanic/train.csv")
test_y = pd.read_csv("D:/Downloads/titanic/gender_submission.csv")
test_x = pd.read_csv("D:/Downloads/titanic/test.csv")

**Data Evaluation**

In [10]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
train_data.shape

(891, 12)

In [14]:
test_x.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [16]:
test_y.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [18]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [22]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [24]:
test_x.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [26]:
test_y.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

**Data Pre-Processing**

In [30]:
def missing_values(colmns,data):
    for colmn in colmns:
        if data[colmn].dtype == object:
            data[colmn] = data[colmn].fillna(data[colmn].mode()[0])
        elif data[colmn].dtype == int:
            data[colmn] = data[colmn].fillna(data[colmn].mean())
        elif data[colmn].dtype == float:
            data[colmn] = data[colmn].fillna(data[colmn].mean())
colmns = ["Age","Cabin","Embarked"]
missing_values(colmns,train_data)
colmns = ["Age","Fare","Cabin"]
missing_values(colmns,test_x)

In [32]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [34]:
test_x.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [36]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [38]:
test_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [40]:
test_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:
def type_convesrion(colmns,data):
    for colmn in colmns:
        if data[colmn].dtype == 'object':
            le = LabelEncoder()
            data[colmn] = le.fit_transform(data[colmn])
            data[colmn] = data[colmn].astype('int64')
        elif data[colmn].dtype == 'float':
            data[colmn] = data[colmn].astype('int64')

colmns = ["Name","Sex","Age","Ticket","Fare","Cabin","Embarked"]
type_convesrion(colmns,train_data)
colmns = ["Name","Sex","Age","Ticket","Fare","Cabin","Embarked"]
type_convesrion(colmns,test_x)

In [44]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int64
 4   Sex          891 non-null    int64
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    int64
 9   Fare         891 non-null    int64
 10  Cabin        891 non-null    int64
 11  Embarked     891 non-null    int64
dtypes: int64(12)
memory usage: 83.7 KB

In [45]:
test_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    int64
 3   Sex          418 non-null    int64
 4   Age          418 non-null    int64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    int64
 8   Fare         418 non-null    int64
 9   Cabin        418 non-null    int64
 10  Embarked     418 non-null    int64
dtypes: int64(11)
memory usage: 36.1 KB

**Splitting**

In [47]:
# Feature selection
X_train = train_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y_train = train_data['Survived']
X_test = test_x[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y_test = test_y['Survived']

**Applying Classifiers**

In [54]:
# SVC
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

svc_model = SVC()
svc_model.fit(X_train, y_train)
y_pred = svc_model.predict(X_test)
print("SVC Accuracy:", accuracy_score(y_test, y_pred))

SVC Accuracy: 0.65311004784689

In [56]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
y_pred = rf_model.predict(X_test)
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred))

Random Forest Accuracy: 0.7990430622009569

In [58]:
# Decision Trees
from sklearn.tree import DecisionTreeClassifier

dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, y_train)
y_pred = dt_model.predict(X_test)
print("Decision Tree Accuracy:", accuracy_score(y_test, y_pred))

Decision Tree Accuracy: 0.7822966507177034

In [60]:
# K-Nearest Neighbors
from sklearn.neighbors import KNeighborsClassifier

knn_model = KNeighborsClassifier()
knn_model.fit(X_train, y_train)
y_pred = knn_model.predict(X_test)
print("K-Nearest Neighbors Accuracy:", accuracy_score(y_test, y_pred))

K-Nearest Neighbors Accuracy: 0.6722488038277512

In [62]:
# Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier

gb_model = GradientBoostingClassifier()
gb_model.fit(X_train, y_train)
y_pred = gb_model.predict(X_test)
print("Gradient Boosting Accuracy:", accuracy_score(y_test, y_pred))

Gradient Boosting Accuracy: 0.8827751196172249

In [64]:
# Naive Bayes
from sklearn.naive_bayes import GaussianNB

nb_model = GaussianNB()
nb_model.fit(X_train, y_train)
y_pred = nb_model.predict(X_test)
print("Naive Bayes Accuracy:", accuracy_score(y_test, y_pred))

Naive Bayes Accuracy: 0.8971291866028708

In [66]:
# Ridge Classifier
from sklearn.linear_model import RidgeClassifier

ridge_model = RidgeClassifier()
ridge_model.fit(X_train, y_train)
y_pred = ridge_model.predict(X_test)
print("Ridge Accuracy:", accuracy_score(y_test, y_pred))

Ridge Accuracy: 0.9641148325358851

In [68]:
# Lasso (use Logistic Regression with L1 penalty)
from sklearn.linear_model import LogisticRegression

lasso_model = LogisticRegression(penalty='l1', solver='liblinear')
lasso_model.fit(X_train, y_train)
y_pred = lasso_model.predict(X_test)
print("Lasso Accuracy:", accuracy_score(y_test, y_pred))

Lasso Accuracy: 0.9521531100478469

In [70]:
# Lasso (use Logistic Regression with L1 penalty)
from sklearn.linear_model import LogisticRegression

lasso_model = LogisticRegression(penalty='l1', solver='liblinear')
lasso_model.fit(X_train, y_train)
y_pred = lasso_model.predict(X_test)
print("Lasso Accuracy:", accuracy_score(y_test, y_pred))

Lasso Accuracy: 0.9521531100478469

In [72]:
# Perceptron
from sklearn.linear_model import Perceptron

perceptron_model = Perceptron()
perceptron_model.fit(X_train, y_train)
y_pred = perceptron_model.predict(X_test)
print("Perceptron Accuracy:", accuracy_score(y_test, y_pred))

Perceptron Accuracy: 0.7607655502392344

In [74]:
# Bayesian Regression (BayesianRidge)
from sklearn.linear_model import BayesianRidge

bayesian_model = BayesianRidge()
bayesian_model.fit(X_train, y_train)
y_pred = np.round(bayesian_model.predict(X_test))  # Rounding for classification
print("Bayesian Regression Accuracy:", accuracy_score(y_test, y_pred))

Bayesian Regression Accuracy: 0.9617224880382775

In [76]:
# Linear Discriminant Analysis
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

lda_model = LinearDiscriminantAnalysis()
lda_model.fit(X_train, y_train)
y_pred = lda_model.predict(X_test)
print("Linear Discriminant Analysis Accuracy:", accuracy_score(y_test, y_pred))

Linear Discriminant Analysis Accuracy: 0.9617224880382775

In [78]:
# Ensemble Methods (Voting Classifier)
from sklearn.ensemble import VotingClassifier

ensemble_model = VotingClassifier(estimators=[
    ('svc', SVC(probability=True)),
    ('rf', RandomForestClassifier()),
    ('gb', GradientBoostingClassifier())
], voting='soft')

ensemble_model.fit(X_train, y_train)
y_pred = ensemble_model.predict(X_test)
print("Ensemble Method Accuracy:", accuracy_score(y_test, y_pred))

Ensemble Method Accuracy: 0.8157894736842105