In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("D:/OneDrive/Desktop/PAI Project/UpdatedResumeDataSet.csv")

In [3]:
data.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [4]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from collections import Counter 
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to C:\Users\HP/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\HP/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\HP/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [6]:
lemmatizer = WordNetLemmatizer()
def cleaned_text(text):
    text = re.sub(r'[^a-zA-Z]',' ',text)
    text = text.lower()
    words = word_tokenize(text)
    words = [word for word in words if word.isalpha()]
    words = [lemmatizer.lemmatize(word) for word in words if word not in stopwords.words('english')]
    cleaned_text = " ".join(words)
    return cleaned_text

data['Cleaned_Resume'] = data['Resume'].apply(cleaned_text)

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import joblib
from sklearn.metrics import accuracy_score

In [11]:
tfidf = TfidfVectorizer(max_features = 5000)
X = tfidf.fit_transform(data['Cleaned_Resume']).toarray()
Y = data['Category']
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,random_state = 42)
model = RandomForestClassifier(n_estimators = 100,random_state = 42)
model.fit(X_train,Y_train)
Y_pred = model.predict(X_test)
accuracy = accuracy_score(Y_pred,Y_test)
print("Accuracy Score:",accuracy)

Accuracy Score: 0.9948186528497409

In [12]:
joblib.dump(model,"rf_resume_model.pkl")
joblib.dump(tfidf,"rf_vectorizer.pkl")
print("Successfully completed")

Successfully completed

In [ ]:
print(Y_pred[32])